<?xml version="1.0" ?>
<robot name="kl_calib_robot" version="1.0">
  <link name="world"/>
  <link name="base_link"/>
  <link name="livox_laser"/>
  <link name="camera"/>
  <link name="camera_frame"/>
  <link name="livox_frame"/>
  <joint name="pointgrey_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="camera_frame"/>
    <child link="camera"/>
  </joint>
  <joint name="livox_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="livox_laser"/>
    <child link="livox_frame"/>
  </joint>
  <joint name="livox_joint2" type="fixed">
    <origin xyz="-0.138509550939093 -0.14812476102621244 -0.11587870037831646" rpy="-0.08809249754098708 -0.07531422556760353 0.02032795602279055"/>
    <parent link="base_link"/>
    <child link="livox_laser"/>
  </joint>
  <joint name="pointgrey_joint2" type="fixed">
    <origin xyz="5.5775305151087125e-05 -0.28316645381084515 2.7764232883309163e-06" rpy="-1.6233243896348808 0.013706912715343992 -1.511068403806931"/>
    <parent link="base_link"/>
    <child link="camera_frame"/>
  </joint>
  <joint name="base joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>
</robot>